body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(to right, #1f1f1f, #8b0000);
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.contenedor{
    background:#1a1a1a;

    padding:40px;

    border-radius:20px;

    text-align:center;

    box-shadow:0px 0px 25px rgba(255,0,0,0.5);

    width:350px;
}

h1{
    color:#ff2e63;

    font-size:45px;

    margin-bottom:10px;

    text-shadow:0px 0px 10px red;
}

p{
    color:white;

    margin-bottom:30px;
}

button{
    background:#ff2e63;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:12px;

    cursor:pointer;

    font-size:16px;

    transition:0.3s;
}

button:hover{
    background:#ff0000;

    transform:scale(1.05);

    box-shadow:0px 0px 15px red;
}
input{

    width:90%;

    padding:12px;

    margin-bottom:15px;

    border:none;

    border-radius:10px;

    background:#2f2f2f;

    color:white;

    font-size:15px;
}

a{

    color:#ff2e63;

    text-decoration:none;
}

a:hover{

    color:red;
}
/* DASHBOARD */

.dashboard{

    width:90%;

    padding:30px;

    text-align:center;
}

.subtitulo{

    color:white;

    margin-bottom:30px;
}

/* CREAR CATEGORIA */

.crear-categoria{

    display:flex;

    justify-content:center;

    gap:10px;

    margin-bottom:40px;
}

/* TARJETAS */

.contenedor-tarjetas{

    display:grid;

    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));

    gap:20px;
}

.tarjeta{

    background:#2b2b2b;

    padding:30px;

    border-radius:20px;

    color:white;

    font-size:40px;

    cursor:pointer;

    transition:0.3s;

    box-shadow:0px 0px 15px rgba(255,0,0,0.3);
}

.tarjeta:hover{

    transform:scale(1.05);

    background:#3a3a3a;

    box-shadow:0px 0px 20px red;
}

.tarjeta h2{

    font-size:20px;

    margin-top:10px;
}