<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <title>Registro</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="contenedor">

        <h1>🌸 Registro 🌸</h1>

        <form action="/guardar_usuario" method="POST">

            <input type="text" name="username" placeholder="Usuario" required>

            <input type="password" name="password" placeholder="Contraseña" required>

            <button type="submit">Registrarse</button>

        </form>

        <br>

        <a href="/">Volver al Login</a>

    </div>

</body>
</html>